/* :root {
    height: 100%;
} */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    font-size: xx-large;
    background: url("../img/bg-1.jpg");
    color: white;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5em;
    background: linear-gradient(0deg, rgba(13,156,213,1) 0%, rgba(15,99,179,1) 100%);
    padding: 2em;
    text-align: center;
}

fieldset {
    margin-top: 3em;
    border: none;
}

legend {
    font-weight: bold;
}

input, p {
    font-size: medium;
}

p {
    margin-top: 0.5em;
}

input {
    color: white;
}

input[type="text"] {
    border: none;
    border-bottom: solid white;
    margin-top: 1em;
    padding: 0.5em 1em;
    background: none;
}

::placeholder { 
  color: lightgray;
}

input[type="submit"] {
    background: none;
    border: solid white;
    margin-top: 5em;
    border-radius: 3em;
    padding: 0.5em 1em;
}